<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<style>
  body {
    padding: 0 30px 0 30px;
  }

  * {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }

  header {
    text-align: center;
    width: 75%;
    border-bottom: 1px solid #d2d2d2;
    margin: auto;
    padding-bottom: 20px;
  }

  .signature img {
    margin: inherit;
    width: 180px;
  }

  img {
    display: block;
    margin: auto;
    width: 300px;
    padding-bottom: 20px;
  }

  p {
    margin: 0;
  }

  p.date {
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .body p {
    margin-top: 20px;
  }

  .body {
    margin-top: 30px;
  }
</style>

<header>
  <% if params[:format] == 'pdf' %>
    <%= wicked_pdf_image_tag "chameleon.png", alt: 'choral chameleon logo' %>
  <% else %>
    <%= image_tag 'chameleon.png', alt: 'choral chameleon logo'  %>
  <% end %>

  <p>Vince Peterson, Artistic Director</p>
  <p>199 Carroll St. Brooklyn, NY 11231</p>
  <p>www.choralchameleon.com | contact@choralchameleon.com</p>
</header>

<p class="date"><%= Date.today.strftime("%B %-d, %Y") %></p>

<p><%= @donor_receipt.name %></p>
<p></p>
<p></p>

<div class="body">
  <p>We acknowledge, with thanks, your combined contribution of $<%= @donor_receipt.amount %> which you have so generously contributed to Choral Chameleon in the year 2017.</p>
  <p>Choral Chameleon is recognized as a nonprofit organization and public charity by the IRS. No goods or services were provided in exchange for this contribution.</p>
  <p>IRS Code: Section 501(c)(3).  Tax Identification Number: 26-3793632</p>
</div>

<h4>Thank you!</h4>

<div class="signature">
  <% if params[:format] == 'pdf' %>
    <%= wicked_pdf_image_tag "signature.png", alt: 'treasurer signature' %>
  <% else %>
    <%= image_tag "signature.png", alt: 'treasurer signature' %>
  <% end %>
</div>

<p>Michael Squitieri</p>
<p>Treasurer</p>
<p>michael@choralchameleon.com</p>